<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
  </head>
  <body style="margin: 0; padding: 0;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 30px 0 30px 0;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 2px solid #cccccc;">
            <tr>
              <td style="padding: 50px 30px 50px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
		  {% block header %}{% endblock %}
                  <tr>
                    <td align="right" style="padding: 10px 0px 10px 0px; font-family: Lora, Georgia; font-size: 16px;">
                        <a href="#in_english" style="color: #ff8a04; text-decoration:none;"><b>In English below</b></a>
                    </td>
                  </tr>
		  {% block ingress %}{% endblock %}
		  {% block toc %}{% endblock %}
		  {% block content %}{% endblock %}
                  <td style="padding: 10px 0px 25px 0px; font-family: Source Sans Pro, Open Sans, Calibri; font-size: 16px; text-align: center;">
                    {% if footer_image|length %}
                    <span style="color: #ff8a04; text-decoration:underline; font-weight:bold;">Viikon töherrys</span><br><br>
                    <img alt="Salli kuvat nähdäksesi tämä" width="auto" height="auto" src="{{footer_image}}" style="border-width: 1px; border-color: #201E1E; border-style: solid; max-width:400px;">
                    {% endif %}
                  </td>
                  <tr id="in_english">
                    <td align="center" style="padding: 50px 0px 50px 0px;font-family: Lora, Georgia; font-size: 16px;">
                      <hr style="padding: 0; border: none; height: 1px;
                        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
                        background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
                        background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
                        background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
                        color: #ccc; text-align: center;">
                    </td>
                  </tr>
		  {% block ingress_en %}{% endblock %}
		  {% block toc_en %}{% endblock %}
		  {% block content_en %}{% endblock %}
                  <td style="padding: 10px 0px 25px 0px; font-family: Source Sans Pro, Open Sans, Calibri; font-size: 16px; text-align: center;">
                    {% if footer_image_en|length %}
                    <span style="color: #ff8a04; text-decoration:underline; font-weight:bold;">Doodle of the week</span><br><br>
                    <img alt="Please enable images" width="auto" height="auto" src="{{footer_image_en}}" style="border-width: 1px; border-color: #201E1E; border-style: solid; max-width:400px;">
                    {% endif %}
                    <br>
                    <br>
      <span style="font-size: 13px; color: #737373;">
        Viestintävastaava / Communications Officer <br>
        {{ communications_officer }} <br>
        <a href="https://t.me/{{ telegram_nick }}" style="color: #ff8a04; text-decoration:none;">@{{ telegram_nick }}</a><br>
        <a href="mailto:{{ email }}" style="color: #ff8a04; text-decoration:none;">{{ email }}</a><br><br>
        Would you like these weekly mails only in English? Send an email to <a href="mailto:english+subscribe@fyysikkokilta.fi" style="color: #ff8a04; text-decoration:none;">english+subscribe@fyysikkokilta.fi</a> (and reply to the confirmation email you get afterwards) to get them! And to unsubscribe from this mailing list, send an email to <a href="mailto:tieto+unsubscribe@fyysikkokilta.fi" style="color: #ff8a04; text-decoration:none;">tieto+unsubscribe@fyysikkokilta.fi</a>.
      </span>
                  </td>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
