{% block toc_headers %}
<b><u>{{ short_title_en }}</u></b>

{% for (cat, (this_week_en, following_week_en)) in category_events_en %}
<b>{{ cat }}</b>
{% block this_week_en scoped %}
{% if this_week_en %}
{% for entry in this_week_en %}
  • {{ entry.header|e }}
{% endfor %}
{% endif %}
{% endblock this_week_en %}
{% block following_week_en scoped %}
{% if following_week_en %}
{% for entry in following_week_en %}
  • {{ entry.header|e }}
{% endfor %}
{% endif %}
{% endblock following_week_en %}

{% endfor %}
<a href="https://www.fyysikkokilta.fi/en/viikkotiedote/">Read the Guild News</a>
{% endblock %}
