{% block toc_headers %}
<b><u>{{ short_title }}</u></b>

{% for (cat, (this_week, following_week)) in category_events %}
<b>{{ cat }}</b>
{% block this_week scoped %}
{% if this_week %}
{% for entry in this_week %}
  • {{ entry.header|e }}
{% endfor %}
{% endif %}
{% endblock this_week %}
{% block following_week scoped %}
{% if following_week %}
{% for entry in following_week %}
  • {{ entry.header|e }}
{% endfor %}
{% endif %}
{% endblock following_week %}

{% endfor %}
<a href="https://www.fyysikkokilta.fi/viikkotiedote/">Lue viikkotiedote</a>
{% endblock %}
