{% extends "bulletin_en.html" %}

{% block header %}
<tr>
  <td width="75%" align="left" valign="bottom" style="color: #201E1E; font-family: Lora, Georgia; font-size: 30px; padding: 8px 25px 8px 25px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="middle">
          <b>{{ header|safe }}</b>
        </td>
        <td align="right" valign="top">
          <img alt="Guild Phi" src="{{header_image}}" style="display: block; padding: 8px;">
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}

{% block ingress_en %}
<tr>
  <td style="padding: 15px 30px 25px 30px; font-family: Source Sans Pro, Open Sans, Calibri; font-size: 16px; text-align: left;">
    {{ ingress_en|safe }}
  </td>
</tr>
{% endblock %}

{% block toc_en %}
{% for (cat, (this_week, following_week)) in category_events_en %}
<tr>
  <td style="color: #201E1E; font-family: Lora, Georgia; font-size: 24px;">
    <i>{{ cat }}</i>
  </td>
</tr>
{% block this_week_en scoped %}{% endblock %}
{% block following_week_en scoped %}{% endblock %}
{% endfor %}
{% endblock %}

{% block content_en %}
{% for (cat, (this_week, following_week)) in category_events_en %}
{% block events_en scoped %}{% endblock %}
{% endfor %}
{% endblock %}
